{block title}
	Naposledy přidané řidičské průkazy
{/block}

{block content}
	<h2>Filtrovat řidičské průkazy dle identifikačního čísla</h2>
	{control searchForm}

	<h2>{include title}</h2>
	{include 'list.latte'}
{/block}
