{block title}
	Výsledky vyhledávání
{/block}

{block content}
	<a href="{link Offence:insert}">Vložit nový přestupek</a>
	<h2>Filtrovat přestupky dle jednacího čísla</h2>
	{control searchForm}

	<h2>{include title}</h2>
	{include 'list.latte'}
{/block}

