{block title}
	Výsledky vyhledávání
{/block}

{block content}
	<h2>Filtrovat uživatele dle uživatelského jména</h2>
	{control searchForm}

	<h2>{include title}</h2>
	{include 'list.latte'}
{/block}


